<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
<bindings>
      <netTcpBinding>
        <binding name="MyBinding">
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="wcfTelegramServer.Telegram">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:1337/wcfTelegramServer"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="MyBinding" contract="wcfTelegramServer.Telegram"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>