<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="CinemasEntities" connectionString="metadata=res://*/MyModel.csdl|res://*/MyModel.ssdl|res://*/MyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.3.21.100;initial catalog=Cinemas;persist security info=True;user id=sp2822user;password=sp2822pswd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>