<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="db" value="System.Data.SqlClient"/>
		<add key="connectingString" value="Data Source=10.3.21.100;Initial Catalog=Library;Persist Security Info=True;User ID=sp2822user;Password=sp2822pswd"/>
	</appSettings>
</configuration>